// theme override //
.form-control {
    color: #555;
}
.tooltip {
    .tooltip-inner {
        background-color: #fff;
        color: #333;
    }
}
.tooltip.right .tooltip-arrow {
    border-right-color: #fff;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #fff;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #fff;
}
.btn {
    border-radius: 2px;
}
.side-nav > li > span {
    color: #BDBDBD;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}
@media (min-width: 768px) {
    .side-nav > li > span {
      width: 225px;
      padding-top: 15px;
      padding-bottom: 10px;
    }
}
.side-nav {
    .status {
        padding: 0px 6px;
        border-radius: 10px
    }
    .cluster-name {
        padding-left: 5px;
    }
    .selected > a {
        margin-left: -7px;
    }
}
.side-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

// spinner override //
.global-loading {
    display: none;
    .spinner {
        position: fixed;
        bottom: 50px;
        right: 100px;
        z-index: 20001;
    }
}
.three-bounce > div {
    background-color: #2a9fd6 !important;
}

.global-modal-backdrop {
    z-index: 20000;
}

//datarange override//
.daterangepicker {
    td.in-range {
        background-color: #424242;
    }
    td.available:hover, th.available:hover {
        background-color: #2d2d2d !important;
    }
    .daterangepicker_start_input label, .daterangepicker_end_input label {
        color: #fff;
        text-shadow: none;
        text-transform: none;
    }
    .calendar-date {
        background-color: #181818;
    }
    select {
        color: #555;
    }
    td.active {
        background-color: #2A9FD6 !important;
    }
    td.active:hover {
        background-color: #2386b4 !important;
    }
}
.daterangepicker.opensright:after {
    border-bottom: 6px solid #222;
}
.daterangepicker.opensleft:after {
    border-bottom: 6px solid #222;
}
.daterangepicker.openscenter:after {
    border-bottom: 6px solid #222;
}
.daterangepicker.opensright:after {
    border-bottom: 6px solid #222;
}

// common //
.status {
    padding: 0px 6px;
    border-radius: 10px
}
.status-text {
    padding-left: 10px;
}

// page-wrapper override //
#page-wrapper {
    padding-top: 0px;
}

// cluster-tab-components //
.cluster-tab-components {
    margin-bottom: 30px;
}

// cluster-info-components //
.cluster-info-components {
    .node-action-btn {
        a {
            text-decoration: none;
        }
    }
}

.cluster-info-status-components {
    min-height: 473px;
}

.cluster-info-slots-components {
    min-height: 473px;
}

.cluster-info-nodes-components {
    .slots-list {
        padding-left: 15px;
    }
    table {
        th, td {
            font-size: 13px;
        }
    }
}

//cluster-monitoring-query-components//
.cluster-monitoring-query-components {
    margin-bottom: 30px;
}

.cluster-monitoring-components {
    .full-view-modal {
        .modal-lg {
            width: 90%;
        }
    }
    @media (min-width: 1200px) {
        .col-lg-4 {
            width: 50%;
        }
    }
    @media (min-width: 1400px) {
        .col-lg-4 {
            width: 33.33333333%;
        }
    }
}

.cluster-setting-threshold-components {
    .delete-threshold {
        width: 75px !important;
        padding-right: 30px !important;
    }
    table {
        td {
            vertical-align: middle !important;
        }
        pre {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
            padding: 5px !important;
        }
    }
    .result-notification-condition {
        margin-top: 40px;
    }
}

.user-item-components {
    td {
        vertical-align: middle !important;
        height: 55px;
    }
}
